body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 10 px;
    background-color: #282c34;
   min-height: 100 vh; 
}
header, nav, footer{
    background-color #ffa500;
    padding: 20px;
    text-align: center;
    color: white;

}
.conteudo{
    display: flex;
    flex: 1;
    gap: 20px;
}

.principal{
display: flex;
flex-direction: column;
flex: 2;
gap: 20px;
}

